html, body {
    font-family: Roboto;
    box-sizing: border-box;
}

nav {
    width: 1024px;
    height: 76px;
    background-color: #4A90E2;
    margin: 0 auto;
}

.status {
    width: 620px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.status li {
    height: 71px;
    font-size: 24px;
    color: #00408B;
    cursor: pointer;
    line-height: 71px;
}

.status li:hover, .status li:visited {
    border-bottom: 5px solid #00408B;
}

.shadow {
    border-bottom: 5px solid #00408B;
}

.status li a {
    text-decoration: none;
}

.status li a:hover, .status li a:visited {
    color: #FFFFFF;
}

section {
    width: 620px;
    margin: 0 auto;
}

.add_task {
    width: calc(100% - 33px);
    height: 65px;
    display: block;
    outline: none;
    margin-top: 24px;
    font-size: 24px;
    border-radius: 5px;
    border: 2px solid #C8C8C8;
    padding: 0;
    padding-left: 33px;
}

.add_task::placeholder {
    font-size: 24px;
    color: #C8C8C8;
}