html, body {
    font-family: Roboto;
    box-sizing: border-box;
    background-color: #E1E1E1;
}

nav {
    width: 1024px;
    height: 76px;
    background-color: #4A90E2;
    margin: 0 auto;
}

.status {
    width: 620px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.status li {
    height: 71px;
    font-size: 24px;
    color: #00408B;
    cursor: pointer;
    line-height: 71px;
}

.status li:hover, .status li:visited {
    border-bottom: 5px solid #00408B;
}

.shadow {
    border-bottom: 5px solid #00408B;
}

.status li a {
    text-decoration: none;
}

.status li a:hover, .status li a:visited {
    color: #FFFFFF;
}

section {
    width: 620px;
    margin: 0 auto;
}

.add_task {
    width: calc(100% - 33px);
    height: 65px;
    display: block;
    outline: none;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 24px;
    border-radius: 5px;
    border: 2px solid #C8C8C8;
    padding: 0;
    padding-left: 33px;
}

.add_task::placeholder {
    font-size: 24px;
    color: #C8C8C8;
}

.task {
    height: 102px;
    margin-bottom: 8px;
    background-color: #FFF2DC;
    border-radius: 5px;
    padding: 24px 32px 17px 32px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 24px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #FFFFFF;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}